<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebanking | Loans</title>
    <link rel="icon" href="./Assets/Imagenes/logo.png">
    <link rel="stylesheet" href="./Assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div id="app" v-cloak>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <img src="./Assets/Imagenes/logo.png" alt="..." id="logo">
                  <a class="navbar-brand text-danger" href="#">MindHub Brothers</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active p-1" href="./accounts.html">My accounts</a>
                      <a class="nav-link p-1" href="./cards.html">My cards</a>
                      <a class="nav-link p-1" href="./transfers.html">Transfers</a>
                      <a class="nav-link p-1" href="./index.html" @click="logout">Exit</a>
                    </div>
                  </div>
                </div>
            </nav>
        </header>

        <main class="d-flex justify-content-center p-3">
            {{selectPayments}}
            {{interestLoan}}
            <div class="contact-form d-flex flex-column align-items-center">
                <span class="heading">Loans</span>
                <form>
                    <div class="d-flex justify-content-center">
                        <template v-for="loan in loans">       
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" :id="loan.name" :value="loan.name" v-model="selectLoan" required>
                                <label class="form-check-label" :for="loan.name">{{loan.name}}</label>
                            </div>
                        </template>
                    </div>

                    <label for="amount">Amount:</label>
                    <input type="text" id="amount" required="" v-model="amount">

                   <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="payments">
                        <option disabled value>Select the payments that you want pay</option>
                        <template  v-for="payment in filterPayments[0]">
                            <option :value="payment">{{payment}} payments</option>
                        </template>
                    </select>
                    
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="numberAccount">
                        <option disabled value>Select the account to deposit</option>
                        <option v-for="account in accounts" :value=account.number>Account: {{account.number}}</option>
                    </select>

                  <button type="button" @click="newLoan">New loan</button>
                </form>
            </div>
            <div class="d-flex flex-column">
                <table class="table table-bordered d-flex justify-content-center p-4">
                    <tbody class="table-light">
                        <tr class="table-danger">
                            <th colspan="5">Preview of your loan</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Payments</td>
                            <td>Interest</td>
                            <td>Total to Pay</td>
                            <td>Total each payments</td>
                        </tr>
                        <tr>
                            <td>{{selectLoan}}</td>
                            <td>{{payments}}</td>
                            <td>{{this.amount * 0.2}} USD</td>
                            <td>{{amountInterest}} USD</td>
                            <td>{{paymentsInterest}} USD</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div id="banner-account" ></div> -->
              </div>
        </main>
    </div>
    <footer class="d-flex justify-content-between p-2">
        <div>
          <a href="https://www.linkedin.com/in/jennifer-mota-ochoa-64384922b/"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="8" y1="11" x2="8" y2="16" />
            <line x1="8" y1="8" x2="8" y2="8.01" />
            <line x1="12" y1="16" x2="12" y2="11" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg></a>
  
          <a href="https://github.com/Jennifermotaochoa"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
          </svg></a>

          <a href="https://web.whatsapp.com/"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
            <path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
          </svg></a>

        </div>
        <h5>Cohort 44 - Jennifer Mota</h5>      
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./Assets/loan-application.js"></script>
</body>
</html>