*{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Oswald', sans-serif;
}

#logo{
    width: 3rem;
}

main{
    /* background-image: url("./Imagenes/fondo-2.jpg"); */
    background-color: #802628;
    
}